  <table class="table table-hover table-dark">
    <tbody>
      <tr>
        <th scope="row">重要事項説明</th> 
        <td><%= @apply_post.important %></td>
      </tr>
      <tr>
        <th scope="row">免許証</th> 
        <td><%= @apply_post.driver_license %></td>
      </tr>
      <tr>
        <th scope="row">住民票</th> 
        <td><%= @apply_post.resident_card %></td>
      </tr>
      <tr>
        <th scope="row">駐車場契約</th> 
        <td><%= @apply_post.parking %></td>
      </tr>
      <tr>
        <th scope="row">契約書（押印済）</th> 
        <td><%= @apply_post.contract %></td>
      </tr>
      <tr>
        <th scope="row">名義変更</th> 
        <td><%= @apply_post.name_change %></td>
      </tr>
      <tr>
        <th scope="row">車検証</th> 
        <td><%= @apply_post.vehicle_inspection %></td>
      </tr>
      <tr>
        <th scope="row">車両引渡</th> 
        <td><%= @apply_post.car_to_driver %></td>
      </tr>
    </tbody>
  </table>