<p id="notice"><%= notice %></p>

<h1>応募者TOPページ</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>応募者名</th>
      <th>住所</th>
      <th>応募日</th>
      <th></th>
      <th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apply_posts.each do |apply_post| %>
      <tr>
        <td><%= apply_post.candidate_name %></td>
        <td><%= apply_post.address %></td>
        <td><%= apply_post.apply_date%></td>
        <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            リンク
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button type="button" class="btn btn-success"><%= link_to '詳細', apply_post %></button><br>
            <button type="button" class="btn btn-success"><%= link_to '編集', edit_apply_post_path(apply_post) %></button><br>
            <button type="button" class="btn btn-success"><%= link_to '削除', apply_post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-success"><%= link_to '新規応募者登録', new_apply_post_path %></button>
