<p id="notice"><%= notice %></p>

  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">ID</th> 
        <td>2-01-001</td>
      </tr>
      <tr>
        <th scope="row">応募者</th> 
        <td><%= @apply_post.candidate_name %></td>
      </tr>
      <tr>
        <th scope="row">年齢</th> 
        <td><%= @apply_post.age %></td>
      </tr>
      <tr>
        <th scope="row">メールアドレス</th> 
        <td><%= @apply_post.address %></td>
      </tr>
      <tr>
        <th scope="row">応募日</th> 
        <td><%= @apply_post.apply_date %></td>
      </tr>
      <tr>
        <th scope="row">面接日</th> 
        <td><%= @apply_post.interview %></td>
      </tr>
      <tr>
        <th scope="row">電話番号</th> 
        <td><%= @apply_post.phonenumber %></td>
      </tr>
      <tr>
        <th scope="row">募集媒体</th> 
        <td><%= @apply_post.course %></td>
      </tr>
      <tr>
        <th scope="row">担当者</th> 
        <td><%= @apply_post.tantou %></td>
      </tr>
      <tr>
      <% @apply_post.images.each do |image| %>
          <%= image_tag(image) %> 
      <% end %>
      </tr>
      

    </tbody>
  </table>



  <% if @apply_post.passfail == "採用"%>
      <%= render "pass_candidate"%>
  <% end %>

<button type="button" class="btn btn-success"><%= link_to '編集', edit_apply_post_path(@apply_post) %></button>
<button type="button" class="btn btn-success"><%= link_to '戻る', apply_posts_path %></button>