<p id="notice"><%= notice %></p>

<h1>オファー管理</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>記載日時</th>
      <th>スタート日</th>
      <th>拠点</th>
      <th>コース数</th>
      <th>人数</th>
      <th>担当部長名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= l offer.created_at, format: :short %></td>
        <td><%= l offer.offer_start_day, format: :too_short %></td>
        <td><%= offer.offer_place %></td>
        <td><%= offer.offer_course %></td>
        <td><%= offer.offer_howmany %>人</td>
        <td><%= offer.offer_tantou %></td>
        <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            リンク
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to '詳細', offer, class:"btn btn-outline-primary" %><br>
            <%= link_to '編集', edit_offer_path(offer), class:"btn btn-outline-primary" %><br>
            <%= link_to '削除', offer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-primary" %>
          </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-primary"><%= link_to '新規オファー登録', new_offer_path %></button>
